html 

    head 
        title=title

    body

        h1 Formulaire de connexion
        form(action='/' method='post')

            label(for="mail") Mail :
                input(type="test", name="mail")

            label(for="password") Password: 
                input(type="text", name="password")

            input(type="submit", value="Se connecter")

