html 

    head 
        title=title

    body

        h1 Vous êtes connecté
<<<<<<< HEAD
        a(href='/modification') Modifier le compte

       
=======
       a(href='/modification') Modifier son profil
>>>>>>> 9aa1c069dbb02f4fa9d039170c7adc817b2cc147

