html 

    head 
        title=title

    body

        h1 Formulaire de modification
<<<<<<< HEAD
        form(action='/modification' method='post')
=======
        form(action='/' method='post')
>>>>>>> 9aa1c069dbb02f4fa9d039170c7adc817b2cc147

            label(for="mail") Mail :
                input(type="test", name="mail")

            label(for="password") Ancien Password: 
                input(type="text", name="ancienpassword")
                
            label(for="password") New Password: 
                input(type="text", name="newpassword")

<<<<<<< HEAD
            input(type="submit", value="Modifier")
=======
            input(type="submit", value="Modifier")
>>>>>>> 9aa1c069dbb02f4fa9d039170c7adc817b2cc147
